div#pagina-jerarquia-temas {
    display: flex;
    justify-content: center;
    min-height: 200px;
}

div.nodo {
    padding: 10px;
    border-radius: 5px;
    display: inline-grid;
    border: 1px solid rgba(80, 94, 112, 0.5);
    box-shadow: 0px 1px 3px rgba(56, 72, 92, 0.2);
    min-width: 5rem;
    max-width: 15rem;
    grid-template-columns: auto min-content;
}

div.nodo>.hidden-data {
    font-size: 0;
    opacity: 0;
    transition: 0.3s ease font-size, 1s ease opacity;
    grid-column: 1 / span 2;
}

div.nodo>.nombre {
    font-weight: 600;
    grid-area: 1 / 1 / 2 / 2;
}

div.nodo:focus>div.hidden-data {
    font-size: small;
    opacity: 1;
}

div.nodo:hover {
    background-color: rgba(243, 246, 249, 1);
}

div.nodo>.opciones {
    grid-area: 1 / 2 / 3 / 3;
    justify-self: end;
    cursor: pointer;
}

#pagina-jerarquia-temas div.nodo:focus {
    border: 3px solid #FFA82E;
    background-color: rgba(243, 246, 249, 1);
    outline: none !important;
}

div.tree-wrapper {
    width: 100%;
}

button.agregar-hijo {
    border-radius: 50%;
    position: relative;
    bottom: -1.5rem;
    left: 35%;
    display: inline-block;
    font-size: x-small;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    border: 1px solid #505E70;
    color: #505E70;
}

button.agregar-hijo:hover {
    font-size: smaller;
    grid-area: 3 / 1 / 3 / 3;
    transition: 0.1s linear font-size;
}

.form-agregar-repa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form-agregar-repa .form-group {
    grid-column: 1 / 4;
}

.form-wrapper{
    display:grid;
    gap: 1vh;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;
}

.form-wrapper>button{
    width: fit-content;
}

#pagina-jerarquia-temas button.dropdown-item.opcion-deshabilitada {
    cursor: default;
    background-color: #F3F6F9;
    color: grey;
}